<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <title>Propietarios</title>
  </head>
  <body class="d-flex flex-column min-vh-100" >
     <!-- Contenido principal -->
    <main class="flex-grow-1">
      <div class="container-fluid my-5">
          <div class="container-fluid mt-4">
            <div class="row justify-content-center">
              <div class="col-lg-8 col-md-10 col-sm-12">
                <h3 class="text-center mb-4">Sistema de Gestión de Multas (SGM)</h3>
      
                <!-- Tabla Propietarios -->
                <div class="table-responsive">
                  <div class="d-flex justify-content-between align-items-center">
                      <p class="fw-medium fs-4">Propietarios</p>
                      <button class="btn btn-md btn-warning" onclick="mostrarAgregar()">Agregar Propietario</button>
                  </div>
                  <table class="table table-striped table-hover table-bordered w-100" id="tablaPropietarios">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Codigo_id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for propietario in propietario %}
                      <tr>
                        <th scope="row">{{propietario.codigo_id}}</th>
                        <td>{{propietario.nombre}}</td>
                        <td>{{propietario.apellido}}</td>
                        <td>{{propietario.dni}}</td>
                        <td>{{propietario.direccion}}</td>
                        <td>
                          <button class="btn btn-sm btn-success" onclick="mostrarDetalles('{{propietario.codigo_id}}')">Ver</button>
                          <button class="btn btn-sm btn-primary" onclick="editarDetalles('{{propietario.codigo_id}}')">Editar</button>
                          <button class="btn btn-sm btn-danger">Eliminar</button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div>Total de Registros: {{total_prop}}</div>
      
      
                <!-- Sección de detalles (inicialmente oculta) -->
                  <div id="seccionDetalles" class="card mt-4" style="display: none;">
                      <div class="card-header d-flex justify-content-between align-items-center">
                          <h5 class="mb-0">Detalles de Propietario</h5>
                          <button class="btn btn-sm btn-outline-secondary" onclick="ocultarDetalles()">✕ Cerrar</button>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-6">
                                  <p><strong>Codigo Propietario:</strong> <span id="detalle-id"></span></p>
                                  <p><strong>Nombre:</strong> <span id="detalle-nombre"></span></p>
                                  <p><strong>Apellido:</strong> <span id="detalle-apellido"></span></p>
                              </div>
                              <div class="col-md-6">
                                  <p><strong>DNI:</strong> <span id="detalle-dni"></span></p>
                                  <p><strong>Direccion:</strong> <span id="detalle-direccion"></span></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          
          <div class="container-fluid mt-4">
              <div class="row justify-content-center">
                  <div class="col-lg-6 col-md-8 col-sm-12">
                      <div id="seccionAgregarP" style="display: none;">
                          <p class="fw-medium fs-4">Agregar Propietario</p>
                          
                          <!-- Formulario con estilo Bootstrap -->
                          <div class="card">
                              <div class="card-header d-flex justify-content-between align-items-center">
                                  <h5 class="mb-0">Datos del Propietario</h5>
                                  <button class="btn btn-sm btn-outline-secondary" onclick="ocultarAgregar()">✕ Cerrar</button>
                              </div>
                              <div class="card-body">
                                  <form id="formPropietario" method="POST" onsubmit="enviarFormulario(event)">
                                      {{forma.csrf_token}}
                                      <!-- Campo Nombre -->
                                      <div class="mb-3">
      
                                          {{forma.nombre.label(class="form-label")}} <span class="text-danger">*</span>
                                          {{forma.nombre(class="form-control", id="edit-nombre")}}
                                          <div class="invalid-feedback">
                                              Por favor ingrese un nombre válido.
                                          </div>
                                      </div>                               
                                      <!-- Campo Apellido -->
                                      <div class="mb-3">
      
                                          {{forma.apellido.label(class="form-label")}} <span class="text-danger">*</span>
                                          {{forma.apellido(class="form-control", id="edit-apellido")}}
                                          <div class="invalid-feedback">
                                              Por favor ingrese un apellido válido.
                                          </div>
                                      </div>                               
                                      <!-- Campo DNI -->
                                      <div class="mb-3">
                                          {{forma.dni.label(class="form-label")}} <span class="text-danger">*</span>
                                          {{forma.dni(class="form-control", maxlength=20, id="edit-dni")}}
                                          <div class="form-text">Ingrese el número de documento sin puntos ni espacios.</div>
                                          <div class="invalid-feedback">
                                              Por favor ingrese un DNI válido.
                                          </div>
                                      </div>
                                      <!-- Campo Dirección -->
                                      <div class="mb-3">
      
                                          {{forma.direccion.label(class="form-label")}} <span class="text-danger">*</span>
                                          {{forma.direccion(class="form-control", id="edit-direccion")}}
                                          <div class="invalid-feedback">
                                              Por favor ingrese un apellido válido.
                                          </div>
                                      </div>                               
      
                                      <!-- Botones -->
                                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                          <button type="button" class="btn btn-secondary me-md-2" onclick="limpiarFormulario()">Limpiar</button>
                                          {{forma.enviar}}
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                      
      
                      <!-- Mensajes dinámicos -->
                      <div class="alert alert-success mt-3 d-none" id="mensajeExito">
                          <strong>¡Éxito!.</strong> <span id="textoExito"></span>
                      </div>
                      <div class="alert alert-danger mt-3 d-none" id="mensajeError">
                          <strong>Error:</strong> <span id="textoError"></span>
                      </div>
                  </div>
              </div>
          </div>
        
      </div>
    </main>
     <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
        <p class="mb-0">© 2025 SGM - Todos los derechos reservados</p>
        </div>
    </footer>

       

    <!-- Scripts Javascript -->
     <script src="{{ url_for('static', filename='/scripts.js') }}"></script>

    <!-- Bootstrap 5.3.2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
